<!doctype html>
<html>
<head>

  <title></title>
  <!-- 高清方案脚本 -->
  <script src="https://os.alipayobjects.com/rmsportal/lvEQQbNgHsIxVfXLkmuX.js"></script>

  <link rel="stylesheet" href="/index.css">
</head>
<body>
  <div id="example"></div>
  <script src="https://as.alipayobjects.com/g/component/??react/15.3.2/react.min.js,react/15.3.2/react-dom.min.js"></script>
  <script src="/shared.js"></script>
  <script src="/index.js"></script>
  <script src="https://as.alipayobjects.com/g/component/fastclick/1.0.6/fastclick.js"></script>
</body>
</html>
