html, body {
    height: 100%;
}

.router {
    height: 100%;
}
.body {
    position: absolute; top: 0; bottom: 0; left: 0; right: 0;
    overflow: auto;   /* 用于 android4+，或其他设备 */
    -webkit-overflow-scrolling: touch;    /* 用于 ios5+ */  
    .am-drawer-sidebar {
        z-index: 999;
    }
    height: 100%;
}

hr {
    margin: 70px 10px;
}

// fix style
.am-modal-content {
    height: auto;
    min-height: 100%;
}

.health-data {
    flex-basis: initial;
    .am-list-item .am-list-line .am-list-extra {
        flex-basis: initial;
    }
}

.below {
    color: orange;
}
.beyond {
    color: red;
}

.not-shown {
    display: none;
}